#features {
    padding: 5% 13%;
    background-color: white;
    position: relative;
}

body {
    font-family: "Montserrat";
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat-Bold";
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5rem;
}


/*Container Section*/

.container-fluid {
    padding: 7% 15%;
}


/*Title*/

.cwhite {
    font-family: "Montserrat-Black";
    font-size: 3rem;
    line-height: 1.5;
    color: white;
}

#title .container-fluid {
    padding: 3% 15% 7%;
    text-align: left;
}


/* Navigation Bar */

.navbar {
    padding: 0 0 4.5rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: "Montserrat-Black";
}

.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}


/*Buttons Playstore*/

.download-btn {
    margin: 5% 3% 5% 0;
}


/*  Section*/

.color-section {
    background-color: #ff4c68;
    color: #fff;
}

.white-section {
    background-color: #fff;
}


/* Image */

.image {
    width: 40%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}


/*Feature*/

.feature-box {
    padding: 5%;
}

.h3-second {
    font-family: 'Montserrat-Bold';
    font-size: 1.5rem;
}

.p-second {
    color: #8f8f8f;
}


/*Fa Icons */

.fab {
    margin-right: 4px;
}

.fa,
.fas {
    color: #ef8172;
    margin-bottom: 1rem;
}

.fa:hover,
.fas:hover {
    color: #ff4c68;
}


/*Testimonals Section*/

#testimonials,
#press {
    background-color: #ef8172;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}


/*Press */

#press {
    padding-bottom: 10px;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}


/* Pricing Button*/

#pricing {
    padding: 100px;
}

.button-pricing {
    color: #0080ff;
    border-color: #187ee4;
}

.pricing-text {
    font-size: 3rem;
    line-height: 1.5;
}

.pricing-column {
    padding: 3% 2%;
}


/*CTA*/

@media (max-width:1028px) {
    #title {
        text-align: center;
    }
    .image {
        position: static;
        transform: rotate(0);
    }
}


/*Footer */

#footer {
    padding: 2% 7%;
}

.social-link {
    color: #000;
    margin: 0.2rem;
}